{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Market Cap</th>
        <th>Change (1h)</th>
        <th>Change (24h)</th>
        <th>Change (7d)</th>
      </tr>
    {% for i in range (50) %}
      <tr>
        <th>{{ i + 1 }}</th>
        <td>{{ coins[i].naam }}</td>
        <td>{{ coins[i].prijs }} $</td>
        <td>{{ coins[i].cap }}</td>
       {% if coins[i].percent_1h|float > 0 %}
                <td style="color:green;">{{ coins[i].percent_1h }}%</td>
            {% else %}
                <td style="color:red;">{{ coins[i].percent_1h }}%</td>
            {% endif %}
            {% if coins[i].percent_24h|float > 0 %}
                <td style="color:green;">{{ coins[i].percent_24h }}%</td>
            {% else %}
                <td style="color:red;">{{ coins[i].percent_24h }}%</td>
            {% endif %}
            {% if coins[i].percent_7d|float > 0 %}
                <td style="color:green;">{{ coins[i].percent_7d }}%</td>
            {% else %}
                <td style="color:red;">{{ coins[i].percent_7d }}%</td>
            {% endif %}
      </tr>
    {% endfor %}
    </table>

    <meta http-equiv="refresh" content="300">

{% endblock %}
