{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Naam</th>
        <th>Prijs</th>
        <th>Market Cap</th>
        <th>Change (1h)</th>
        <th>Change (24h)</th>
        <th>Change (7d)</th>
        <th>Remove coin </th>
      </tr>
    {% for coin in coins %}
      <tr>
        <td>{{ coin.naam }}</td>
        <td>{{ coin.prijs }}</td>
        <td>{{ coin.cap }}</td>
            {% if coin.percent_1h|float > 0 %}
                <td class="positive">{{ coin.percent_1h }}%</td>
            {% else %}
                <td class="negative">{{ coin.percent_1h }}%</td>
            {% endif %}
            {% if coin.percent_24h|float > 0 %}
                <td class="positive">{{ coin.percent_24h }}%</td>
            {% else %}
                <td class="negative">{{ coin.percent_24h }}%</td>
            {% endif %}
            {% if coin.percent_7d|float > 0 %}
                <td class="positive">{{ coin.percent_7d }}%</td>
            {% else %}
                <td class="negative">{{ coin.percent_7d }}%</td>
            {% endif %}
        <td><form method = "post" name = "{{ coin.naam }}"><button type="submit" name = "coin"  value = "{{ coin.naam }}"><span class="glyphicon glyphicon-minus-sign"></span> Remove</button></form></td>
      </tr>
    {% endfor %}
    </table>

{% endblock %}
